.iba-form {
    margin-bottom: 15px;
}
 
.iba-form fieldset {
    margin-bottom: 15px;
    padding: 10px;
}
 
.iba-form legend {
    font-weight: bold;
}
 
.iba-form .form-field {
    margin: 5px 0;
}
 
.iba-form .field-label,.field-label-error {
    clear: left;
    display: block;
    float: left;
    width: 100px;
    margin-right: 10px;
    text-align: left; /*right*/
}
 
.ie7 .iba-form label.mandatory {
    background: transparent url(../img/asterisk.png) left 2px no-repeat;
    margin-right: 2px;
    padding-left: 8px;
}
 
.iba-form label.mandatory span:after {
    content:" *";
    color:red;
}
 
.iba-form .field-value,.field-value-error {
    min-width: 250px;
}
 
.iba-form input[type=checkbox], .iba-form input[type=radio] {
    vertical-align: text-top;
    margin-right: 5px;
}
 
.iba-form .field-values-group {
    display: block;
    overflow: hidden;
}
 
.iba-form .field-values-group > span {
    float: left;
}
 
.iba-form .field-values-group > span, .iba-form .field-values-group > div {
    margin-right: 10px;
}
 
.iba-form .form-heading {
    font-weight: bold;
    margin-bottom: 10px;
}
 
.iba-form .form-buttons {
    margin-top: 10px;
}
 
.iba-form .portlet-msg-error {
    background: transparent;
    border: none;
    color: #ff4030;
    display: block;
    margin: 1px 0 12px 110px;
    padding: 0;
}
 
.iba-form .field-value-error {
    background: #fff5f2;
}
 
.iba-form .help-icon {
    margin-left: 1px;
    vertical-align: top;
}